* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E89CB8;
}

/* Cabeçalho */
header {
    background-color: #2C0A1A;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #E89CB8;
}

/* Seções */
section {
    min-height: 100vh;
    padding: 120px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*Parte do carrosel*/

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}


.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(247, 68, 97);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.manual-btn:not(:last-child){
    margin-right : 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

/* Home */
#home {
    background-color: #E89CB8;
    color: #2C0A1A;
}

/* Quem Somos */
#quem-somos {
    background-color: #B5486C;
    color: white;
}

/* Fale Conosco */
#fale-conosco {
    background-color: #6B1E3A;
    color: white;
    min-height: 50vh;
    

}

ul{
    list-style-type: none;
    display:flex;

    position: relative;
}

.img-icones ul li{
    width: 80px;
    height: 80px;

    background-color: #e89cb8;
    box-shadow: 0 6px 20px #00000055;

    border-radius: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .2s;
}
 
.img-icones ul li:hover{
    width: 180px;
}
.img-icones ul li span{
    position: absolute;

}
.img-icones ul li .icon{
    color: #ffff;
    font-size: 2.2em;
    transition: .2s;


 }

 .img-icones ul li .text{
    color:#faf9f9;
    font-size: 20px;
    transform: scale(0);
    transition: .2s;

    transition-delay: .1s;

 }
 .img-icones ul li:hover .text{
    transform: scale(1);
 }
 .img-icones ul li:hover .icon{
    transform: scale(0);
    
  }
  .img-icones ul li::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1) ,var(--cor2));
    inset:0;
    opacity: 0;
    border-radius: 60px;
   }
   .img-icones ul li:hover::before{
    opacity: 1;
   }

    



/* Títulos */
h1 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #2C0A1A;
}

#quem-somos h1,
#fale-conosco h1 {
    color: white;
}


p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
}

/* Imagem */
img {
    width: 250px;
    max-width: 90%;
    margin: 20px 0;
}

/* Botões */
button {
    background-color: #2C0A1A;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #6B1E3A;
}
/*---------------------------------- PARTE DO INDEX2 / CATÁLOGO ----------------------------------------------*/

.Img-catalogo {
    width: 100%;
    min-height: 100vh;

    padding: 120px 20px 60px;

    background-color: #E89CB8;

    display: grid;

    grid-template-columns: repeat(3, 300px);

    justify-content: center;

    align-items: start;

    gap: 30px;

    margin: 0 auto;
}


.produto {
    width: 300px;

    background-color: #ffffff;

    border: 1px solid #ddd;

    border-radius: 22px;

    overflow: hidden;

    box-shadow: 0 5px 15px #00000025;

    transition: 0.3s;
}


.produto:hover {
    transform: translateY(-5px);

    box-shadow: 0 10px 25px #00000035;
}


.imagem-produto {
    width: 100%;
    height: 190px;

    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: white;
}


.imagem-produto img {
    width: 80%;
    height: 100%;

    object-fit: contain;

    margin: 0;

    max-width: 100%;
}

.desconto {
    position: absolute;

    top: 10px;
    left: 12px;

    width: 40px;
    height: 40px;

    background-color: #6B1E3A;

    color: white;

    border-radius: 50%;

    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 13px;

    font-weight: bold;

    line-height: 1.2;

    z-index: 5;
}

.informacoes {
    border-top: 4px solid #6B1E3A;

    text-align: center;

    padding: 20px 10px;
}


.informacoes h2 {
    font-family: 'Poppins', sans-serif;

    font-size: 16px;

    font-weight: 400;

    color: #111;

    margin-bottom: 20px;
}


.precos {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 10px;
}


.preco-antigo {
    font-size: 15px;

    color: #222;

    text-decoration: line-through;
}


.preco-atual {
    font-family: 'Poppins', sans-serif;

    font-size: 23px;

    font-weight: bold;

    color: #2C0A1A;
}


.informacoes p {
    font-family: 'Poppins', sans-serif;

    margin-top: 8px;

    font-size: 14px;

    color: #6B1E3A;
}


.informacoes strong {
    font-family: 'Poppins', sans-serif;

    font-weight: bold;
}


@media (max-width: 1100px) {

    .Img-catalogo {
        grid-template-columns: repeat(2, 330px);
    }

}

@media (max-width: 700px) {

    .Img-catalogo {
        padding: 110px 20px 40px;

        grid-template-columns: 1fr;

        gap: 30px;
    }


    .produto {
        width: 330px;

        max-width: 100%;

        justify-self: center;
    }

}

@media (max-width: 400px) {

    .Img-catalogo {
        padding-left: 10px;
        padding-right: 10px;
    }

    .produto {
        width: 100%;
    }

}


/*---------------------------------- PARTE DO INDEX 3 / CARRINHO ----------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: #E89CB8;
    font-family: 'lato', sans-serif;
}

header{
    
    background-color: #2C0A1A;
    font-size: 24px;
    padding: 20px 0;

    display: flex;
    justify-content: center;
}
 main{
    background-color: #E89CB8;

    .page-title{
        background-color: #2C0A1A;
        font-size: 40px;
        padding: 50px 0;
        text-align: center;
    }
    section{
        background-color: #E89CB8;
    }

    aside{
        background-color: #E89CB8;
    }
 }