* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E89CB8;
}

/* Cabeçalho */
header {
    background-color: #2C0A1A;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #E89CB8;
}

/* Seções */
section {
    min-height: 100vh;
    padding: 120px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*Parte do carrosel*/

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}


.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(247, 68, 97);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.manual-btn:not(:last-child){
    margin-right : 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

/* Home */
#home {
    background-color: #E89CB8;
    color: #2C0A1A;
}

/* Quem Somos */
#quem-somos {
    background-color: #B5486C;
    color: white;
}

/* Fale Conosco */
#fale-conosco {
    background-color: #6B1E3A;
    color: white;
    min-height: 50vh;
    

}

ul{
    list-style-type: none;
    display:flex;

    position: relative;
}

.img-icones ul li{
    width: 80px;
    height: 80px;

    background-color: #e89cb8;
    box-shadow: 0 6px 20px #00000055;

    border-radius: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .2s;
}
 
.img-icones ul li:hover{
    width: 180px;
}
.img-icones ul li span{
    position: absolute;

}
.img-icones ul li .icon{
    color: #ffff;
    font-size: 2.2em;
    transition: .2s;


 }

 .img-icones ul li .text{
    color:#faf9f9;
    font-size: 20px;
    transform: scale(0);
    transition: .2s;

    transition-delay: .1s;

 }
 .img-icones ul li:hover .text{
    transform: scale(1);
 }
 .img-icones ul li:hover .icon{
    transform: scale(0);
    
  }
  .img-icones ul li::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1) ,var(--cor2));
    inset:0;
    opacity: 0;
    border-radius: 60px;
   }
   .img-icones ul li:hover::before{
    opacity: 1;
   }

    



/* Títulos */
h1 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #2C0A1A;
}

#quem-somos h1,
#fale-conosco h1 {
    color: white;
}


p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
}

/* Imagem */
img {
    width: 250px;
    max-width: 90%;
    margin: 20px 0;
}

/* Botões */
button {
    background-color: #2C0A1A;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #6B1E3A;
}

/*---------------------------------- PARTE DO INDEX2 / CATÁLOGO ----------------------------------------------*/

/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #e89cb8;
    color: #333;
}


/* cabeçalho */

header {
    width: 100%;
    background: #6B1E3A;
    padding: 20px 6%;
    border-bottom: 1px solid #E89CB8;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

    padding: 10px 22px;
    border: 2px solid #E89CB8;
    border-radius: 25px;

    transition: 0.3s ease;
}

nav ul li a:hover {
    background: #E89CB8;
    color: #6B1E3A;
}


/* Catálogo */

.Img-catalogo {
    width: 1000%;
    max-width: 1300px;
    margin: 100px auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/* Card*/

.produto {
    background: #ffffff;
    border-radius: 40px;
    overflow: hidden;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.10);

    transition:
        transform 0.10s ease,
        box-shadow 0.3s ease;

    position: relative;
}

.produto:hover {
    transform: translateY(-15px);

    box-shadow:
        0 12px 50px rgba(0, 0, 0, 0.50);
}


/* Imagem */


.imagem-produto {
    width: 120%;
    height: 350px;

    position: relative;
    overflow: hidden;

    background: #fff;
}

.imagem-produto img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    object-position: center;

    transition: transform 0.5s ease;
}

.produto:hover .imagem-produto img {
    transform: scale(1.06);
}



/* Desconto */

.desconto {
    position: absolute;

    top: 10px;
    left: 15px;

    width: 58px;
    height: 58px;

    background: #a83d68;
    color: #ffffff;

    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 12px;
    line-height: 1.2;
    font-weight: 1000;

    z-index: 2;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
}


/* Informações */

.informacoes {
    padding: 22px;
}

.informacoes h2 {
    color: #4d2938;

    font-size: 20px;
    font-weight: 600;

    margin-bottom: 15px;

    min-height: 30px;
}


/* Preço */

.precos {
    display: flex;
    flex-direction: column;

    gap: 3px;

    margin-bottom: 10px;
}

.preco-antigo {
    color: #6B1E3A;

    font-size: 14px;

    text-decoration: line-through;
}

.preco-atual {
    color: #111;

    font-size: 25px;
    font-weight: 700;
}


/* Parcelamento */

.informacoes p {
    color: #6B1E3A;

    font-size: 13px;
    line-height: 1.5;

    margin-top: 8px;
}

.informacoes strong {
    color: #6B1E3A;
    font-weight: 600;
}


/* Responsividade */

/* Notebook */

@media (max-width: 1200px) {

    .Img-catalogo {
        grid-template-columns: repeat(3, 1fr);
        width: 92%;
    }

    .imagem-produto {
        height: 300px;
    }
}


/* Tablet */

@media (max-width: 900px) {

    header {
        padding: 18px 5%;
    }

    .Img-catalogo {
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;

        width: 90%;
        margin-top: 35px;
    }

    .imagem-produto {
        height: 320px;
    }
}


/* Celular */

@media (max-width: 600px) {

    header {
        padding: 15px 20px;
    }

    nav ul li a {
        font-size: 14px;
        padding: 8px 18px;
    }

    .Img-catalogo {
        grid-template-columns: 1fr;

        width: 90%;

        gap: 25px;

        margin: 30px auto;
    }

    .produto {
        border-radius: 15px;
    }

    .imagem-produto {
        height: 360px;
    }

    .informacoes {
        padding: 20px;
    }

    .informacoes h2 {
        font-size: 19px;
    }

    .preco-atual {
        font-size: 23px;
    }

    .desconto {
        width: 55px;
        height: 55px;

        top: 12px;
        left: 12px;

        font-size: 11px;
    }
}


/* Celulares pequenos */

@media (max-width: 400px) {

    .Img-catalogo {
        width: 92%;
    }

    .imagem-produto {
        height: 300px;
    }

    .informacoes {
        padding: 17px;
    }

    .informacoes h2 {
        font-size: 18px;
    }

    .preco-atual {
        font-size: 21px;
    }
}


/*---------------------------------- PARTE DO INDEX 3 / CARRINHO ----------------------------------------------*/

/* Botão carrinho */

.cart-button {
    position: fixed;
    top: 20px;
    right: 25px;

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;

    background: #6B1E3A;
    color: white;

    font-size: 25px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9998;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);

    transition: 0.2s;
    
}

.cart-button:hover {
    transform: scale(1.05);
    background: #B5486C;
}


/* CONTADOR */

#cart-count {
    position: absolute;

    top: -5px;
    right: -5px;

    min-width: 21px;
    height: 21px;

    padding: 0 5px;

    border-radius: 50%;

    background: #ff9900;
    color: #111;

    font-size: 12px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* overlay */

.cart-overlay {
    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, 0.55);

    opacity: 0;
    visibility: hidden;

    transition: 0.3s;

    z-index: 9999;
}

.cart-overlay.active {
    opacity: 1;
    visibility: visible;
}


/* Carrinho lateral */

.cart-sidebar {
    position: fixed;

    top: 0;
    right: 0;

    width: 420px;
    max-width: 100%;

    height: 100vh;

    background: #B5486C;

    z-index: 10000;

    display: flex;
    flex-direction: column;

    transform: translateX(100%);

    transition: transform 0.35s ease;

    box-shadow: -5px 0 25px #6B1E3A;
}

.cart-sidebar.active {
    transform: translateX(0);
}


/* cabeçalho */

.cart-header {
    height: 100px;

    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #E89CB8;

    color: rgb(255, 249, 249);

    flex-shrink: 0;
}

.cart-header h2 {
    margin: 0;

    font-size: 22px;
}

.close-cart {
    border: none;
    background: transparent;

    color: white;

    font-size: 35px;

    cursor: pointer;

    line-height: 1;
    
}


/* Produtos */

.cart-items {
    flex: 1;

    overflow-y: auto;

    padding: 15px;
}


/* PRODUTO */

.cart-item {
    display: flex;

    gap: 12px;

    padding: 15px 0;

    border-bottom: 1px solid #ddd;
}


/* IMAGEM */

.cart-item-image {
    width: 85px;
    height: 85px;

    object-fit: contain;

    border: 1px solid #ddd;

    border-radius: 5px;

    background: #fff;
}


/* INFORMAÇÕES */

.cart-item-info {
    flex: 1;

    min-width: 0;
}

.cart-item-name {
    font-size: 15px;

    font-weight: 600;

    color: #222;

    margin-bottom: 6px;
}

.cart-item-price {
    color: #b12704;

    font-weight: bold;

    margin-bottom: 10px;
}


/* quantidade */

.quantity-control {
    display: flex;

    align-items: center;

    width: fit-content;

    border: 1px solid #aaa;

    border-radius: 5px;

    overflow: hidden;
}

.quantity-control button {
    width: 30px;
    height: 30px;

    border: none;

    background: #f3f3f3;

    cursor: pointer;

    font-size: 18px;
}

.quantity-control button:hover {
    background: #ddd;
}

.quantity-control span {
    width: 35px;

    text-align: center;

    font-size: 14px;
}


/* remover */

.remove-item {
    margin-top: 8px;

    border: none;

    background: none;

    color: #007185;

    cursor: pointer;

    font-size: 13px;

    padding: 0;
}

.remove-item:hover {
    color: #c7511f;

    text-decoration: underline;
}



/* Rodapé */

.cart-footer {
    padding: 20px;

    border-top: 1px solid #ddd;

    background: white;

    flex-shrink: 0;
}


/* SUBTOTAL */

.cart-subtotal {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 15px;

    font-size: 18px;
}

.cart-subtotal strong {
    font-size: 21px;

    color: #b12704;
}


/* BOTÃO FINALIZAR */

.checkout-button {
    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 8px;

    background: #ffd814;

    color: #111;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.2s;
}

.checkout-button:hover {
    background: #f7ca00;
}

.checkout-button:disabled {
    background: #ddd;

    color: #888;

    cursor: not-allowed;
}


/* Scroll */

.cart-items::-webkit-scrollbar {
    width: 7px;
}

.cart-items::-webkit-scrollbar-thumb {
    background: #aaa;

    border-radius: 10px;
}

.cart-items::-webkit-scrollbar-track {
    background: #f5f5f5;
}


/* Responsivo*/

@media (max-width: 500px) {

    .cart-sidebar {
        width: 100%;
    }

    .cart-button {
        right: 15px;
        top: 15px;
    }

    .cart-item-image {
        width: 70px;
        height: 70px;
    }
}

/* Principal*/

.navbar {
    position: relative;

    width: 100%;
    height: 80px;

    background-color: #6B1E3A;

    display: flex;
    align-items: center;
    justify-content: center;
    

    z-index: 100;

    box-sizing: border-box;
    
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;
    width: 100%;
    
}

.nav-links a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 22px;
    border: 2px solid #E89CB8;
    border-radius: 25px;
    transition: 0.10s ease; }

    .nav-links a:hover {
        color: #724848;
        background-color: #E89CB8;
        transition: 0.10s;
    }


/* CARRINHO */

.cart-link {
    display: flex !important;

    align-items: center;

    gap: 6px;
}

#cart-count {
    display: inline-flex;

    align-items: cente  r;
    justify-content: center;

    min-width: 20px;
    height: 20px;

    padding: 0 5px;

    border-radius: 50%;

    background: rgb(255, 254, 253);

    color: black;

    font-size: 12px;
    font-weight: bold;
}
