body{
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

header{
    background-color: #6B1E3A;
    color: #ffffff;
    font-size: 24px;
    padding:20px 0;
    text-align: center;

}
 main{
    background-color: #E89CB8;
 
 }
.page-title{
        background-color: #2C0A1A;
    }

    section{
        background-color: #E89CB8;
    }

    
 